$color_main_bg: #f0f0f0;

html, body {
  background-color: $color_main_bg;
}

.top {
  background-color: #fff;

}

#app {
  height: 100vh;
  color: #616161;
}

.mgrl30 {
  margin: 0 30px;
}

.mgl10 {
  margin-left: 10px;
}

.mgt10 {
  margin-top: 10px;
}

.mgt15 {
  margin-top: 15px;
}
